<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<title>Admin Giriş</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
  <h2>Admin Girişi</h2>

  <form method="POST">
    <label>
      Kullanıcı Adı
      <input type="text" name="username" required>
    </label>

    <label>
      Şifre
      <input type="password" name="password" required>
    </label>

    <button class="btn">Giriş Yap</button>
  </form>
</div>

</body>
</html>

